# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Build
build/
dist/

# Streamlit cache
.streamlit/cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# PyInstaller
*.spec.old

# Temporary
temp/
tmp/

# Outputs
outputs/
history/

# Jupyter
.ipynb_checkpoints/